[Desktop Entry]
Name=Audex
Name[cs]=Audex
Name[da]=Audex
Name[de]=Audex
Name[en_GB]=Audex
Name[eo]=Audex
Name[es]=Audex
Name[et]=Audex
Name[fr]=Audex
Name[gl]=Audex
Name[hu]=Audex
Name[it]=Audex
Name[km]=Audex
Name[nl]=Audex
Name[pl]=Audex
Name[pt]=Audex
Name[pt_BR]=Audex
Name[sk]=Audex
Name[sv]=Audex
Name[tr]=Audex
Name[ug]=Audex
Name[uk]=Audex
Name[x-test]=xxAudexxx
GenericName=CDDA Ripping
GenericName[cs]=Získání digitálního zvuku z CD
GenericName[da]=CDDA-ripning
GenericName[de]=Audio-CDs auslesen
GenericName[en_GB]=CDDA Ripping
GenericName[es]=Extracción de CDDA
GenericName[et]=CDDA rippimine
GenericName[fr]=Extraction audio CDDA
GenericName[gl]=Extración de CDDA
GenericName[hu]=CDDA beolvasása
GenericName[it]=Estrazione CDDA
GenericName[km]=ការ​បម្លែង CDDA
GenericName[nl]=CDDA-rippen
GenericName[pl]=Zgrywanie CDDA
GenericName[pt]=Extracção de CDDA
GenericName[pt_BR]=Extração de CDDA
GenericName[sk]=Ripovanie CDDA
GenericName[sv]=Lagring av CDDA
GenericName[tr]=CDDA Aktarımı
GenericName[uk]=Видобування CDDA
GenericName[x-test]=xxCDDA Rippingxx
Exec=audex
Icon=audex
Type=Application
MimeType=application/x-audex;
Categories=Qt;KDE;AudioVideo;
Terminal=false
X-DCOP-ServiceType=Unique
X-DCOP-ServiceName=audex
X-DocPath=http://userbase.kde.org/Audex
Comment=Rip audio tracks from your audio CDs
Comment[cs]=Získejte zvukové stopy ze svých CD
Comment[da]=Rip lydspor fra dine lyd-cd'er
Comment[de]=Liest Musiktitel von Ihren Audio-CDs aus
Comment[es]=Extraer pistas de audio de sus CD de audio
Comment[et]=Heliradade rippimine audio-CD-delt
Comment[fr]=Extraire des pistes audio à partir de vos CD audio
Comment[gl]=Extrae as pistas de audio dos seus CDs de audio
Comment[it]=Estrae le tracce audio dai tuoi cd musicali
Comment[km]=បម្លែង​បទ​អូឌីយ៉ូ​ពី​ស៊ីឌី​អូឌីយ៉ូ​របស់​អ្នក
Comment[nl]=Rip geluidstracks van uw geluids-cd's
Comment[pl]=Zgraj ścieżki dźwiękowe z twoich płyt audio CD
Comment[pt]=Extrair as faixas de áudio dos seus CD's de áudio
Comment[pt_BR]=Extrair faixas de áudio dos seus CDs de áudio
Comment[sk]=Ripovať audio stopy z vašich zvukových CD
Comment[sv]=Lagra ljudspår från ljud-cd
Comment[ug]=ئۈنلەرنى ئوپتىك دىسكىدىن سويۇپ ئېلىش پروگراممىسى
Comment[uk]=Видобування звукових даних з ваших звукових компакт-дисків
Comment[x-test]=xxRip audio tracks from your audio CDsxx
