[Desktop Entry]
X-KDE-Solid-Predicate=[ StorageVolume.ignored == false AND OpticalDisc.availableContent == 'Audio' ]
Type=Service
Actions=ripaudiocd;

[Desktop Action ripaudiocd]
Exec=audex
Icon=audex
Name=Extract Digital Audio with Audex
Name[bs]=Izdvoji digitalni zvuk Audexom
Name[ca]=Extreu àudio digital amb l'Audex
Name[ca@valencia]=Extreu àudio digital amb l'Audex
Name[cs]=Vytahujte digitální zvuk s Audexem
Name[da]=Udtræk digital lyd med Audex
Name[de]=Audio-CD mit Audex auslesen
Name[en_GB]=Extract Digital Audio with Audex
Name[es]=Extraer audio digital con Audex
Name[et]=Digitaalheli hankimine Audexi abil
Name[fi]=Pura digitaaliääntä Audexilla
Name[fr]=Extraction de données numériques audio avec Audex
Name[gl]=Extraer son dixital con Audex
Name[hu]=Digitális hang kibontása az Audex programmal
Name[it]=Estrai audio digitale con Audex
Name[ko]=Audex로 디지털 오디오 추출하기
Name[mr]=ऑडेक्स वापरून डिजिटल ऑडिओ बाहेर काढा
Name[nl]=Digitale audio extraheren met Audex
Name[pl]=Zgraj dźwięk cyfrowy z Audex
Name[pt]=Extrair o Áudio Digital com o Audex
Name[pt_BR]=Extrair o áudio digital com o Audex
Name[sk]=Extrahovanie digitálnej hudby s Audexom
Name[sv]=Extrahera digitalljud med Audex
Name[tr]=Audex ile Dijital Ses ayıklayın
Name[uk]=Видобути цифрові звукові дані за допомогою Audex
Name[x-test]=xxExtract Digital Audio with Audexxx
Name[zh_CN]=利用 Audex 抓取数字音频
Name[zh_TW]=使用 Audex 取出數位音訊

