[Desktop Entry]
Name=Audex
Name[ast]=Audex
Name[bs]=Audex
Name[ca]=Audex
Name[ca@valencia]=Audex
Name[cs]=Audex
Name[da]=Audex
Name[de]=Audex
Name[en_GB]=Audex
Name[es]=Audex
Name[fr]=Audex
Name[gl]=Audex
Name[hu]=Audex
Name[mr]=ऑडेक्स
Name[nl]=Audex
Name[pl]=Audex
Name[pt]=Audex
Name[pt_BR]=Audex
Name[sk]=Audex
Name[sv]=Audex
Name[tr]=Audex
Name[ug]=Audex
Name[uk]=Audex
Name[x-test]=xxAudexxx
GenericName=CDDA Ripping
GenericName[bs]=CDDA vađenje
GenericName[ca]=Extractor de CDDA
GenericName[ca@valencia]=Extractor de CDDA
GenericName[cs]=Získání digitálního zvuku z CD
GenericName[da]=CDDA-ripning
GenericName[de]=Audio-CDs auslesen
GenericName[en_GB]=CDDA Ripping
GenericName[es]=Extracción CDDA
GenericName[fr]=Extraction « CDDA »
GenericName[gl]=Extracción de CDDA
GenericName[hu]=CDDA beolvasás
GenericName[mr]=सीडीडीए रिप
GenericName[nl]=CDDA-ripping
GenericName[pl]=Zgrywanie CDDA
GenericName[pt]=Extracção do CDDA
GenericName[pt_BR]=Extração de CDDA
GenericName[sk]=Ripovanie CDDA
GenericName[sv]=Lagring av CDDA
GenericName[tr]=CDDA Dönüştürme
GenericName[uk]=Видобування CDDA
GenericName[x-test]=xxCDDA Rippingxx
Exec=audex
Icon=audex
Type=Application
MimeType=application/x-audex;
Categories=Qt;KDE;AudioVideo;
Terminal=false
X-DCOP-ServiceType=Unique
X-DCOP-ServiceName=audex
X-DocPath=http://userbase.kde.org/Audex
Comment=Rip audio tracks from your audio CDs
Comment[bs]=Vađenje audio numera s audio CDa
Comment[ca]=Extreu les pistes d'àudio des dels CD d'àudio
Comment[ca@valencia]=Extreu les pistes d'àudio des dels CD d'àudio
Comment[cs]=Získejte zvukové stopy ze svých CD
Comment[da]=Rip lydspor fra dine lyd-cd'er
Comment[de]=Liest Musiktitel von Ihren Audio-CDs aus
Comment[en_GB]=Rip audio tracks from your audio CDs
Comment[es]=Extraer pistas de audio de CD de audio
Comment[fr]=Extrait des pistes audio à partir de vos CD audio
Comment[gl]=Extraia pistas de son de CD.
Comment[hu]=Hangsávok beolvasása a hang CD-kről
Comment[mr]=तुमच्या ऑडिओ सीडीवरील ऑडिओ ट्रॅक्स रिप करा
Comment[nl]=Rip audiotracks van uw audio-cd's
Comment[pl]=Zgraj ścieżki dźwiękowe z Twoich płyt audio CD
Comment[pt]=Extrair as faixas de áudio dos seus CD's
Comment[pt_BR]=Extrai faixas de áudio dos seus CDs de áudio
Comment[sk]=Ripovanie audio stôp z vašich audio CD
Comment[sv]=Lagra ljudspår från ljud-cd
Comment[tr]=Ses CD'lerinizin ses parçalarını dönüştürün
Comment[ug]=ئۈنلەرنى ئوپتىك دىسكىدىن سويۇپ ئېلىش پروگراممىسى
Comment[uk]=Видобування звукових даних з ваших звукових компакт-дисків
Comment[x-test]=xxRip audio tracks from your audio CDsxx
