[Desktop Entry]
Name=Audex
Name[ar]=أوديكس
Name[ast]=Audex
Name[bs]=Audex
Name[ca]=Audex
Name[ca@valencia]=Audex
Name[cs]=Audex
Name[da]=Audex
Name[de]=Audex
Name[en_GB]=Audex
Name[eo]=Audex
Name[es]=Audex
Name[et]=Audex
Name[eu]=Audex
Name[fi]=Audex
Name[fr]=Audex
Name[gl]=Audex
Name[he]=Audex
Name[hi]=ऑडेक्स
Name[hu]=Audex
Name[ia]=Audex
Name[it]=Audex
Name[ka]=Audex
Name[ko]=Audex
Name[mr]=ऑडेक्स
Name[nl]=Audex
Name[pl]=Audex
Name[pt]=Audex
Name[pt_BR]=Audex
Name[ro]=Audex
Name[ru]=Audex
Name[sa]=औडेक्स
Name[sk]=Audex
Name[sl]=Audex
Name[sv]=Audex
Name[tr]=Audeks
Name[ug]=Audex
Name[uk]=Audex
Name[zh_CN]=Audex
Name[zh_TW]=Audex
GenericName=CDDA Ripping
GenericName[ar]=استخراج القرص الصوت الرقمي المضغوط
GenericName[bs]=CDDA vađenje
GenericName[ca]=Extractor de CDDA
GenericName[ca@valencia]=Extractor de CDDA
GenericName[cs]=Ripování zvuku z CD
GenericName[da]=CDDA-ripning
GenericName[de]=Audio-CDs auslesen
GenericName[en_GB]=CDDA Ripping
GenericName[eo]=CDDA-Kopiado
GenericName[es]=Extracción CDDA
GenericName[et]=CDDA rippimine
GenericName[eu]=CDDA erauztea
GenericName[fi]=CDDA-purku
GenericName[fr]=Extraction « CDDA »
GenericName[gl]=Extracción de CDDA
GenericName[hi]=CDDA रिपिंग
GenericName[hu]=CDDA beolvasás
GenericName[ia]=Rippar CDDA
GenericName[it]=Estrazione CDDA
GenericName[ka]=CDDA რიპინგი
GenericName[ko]=CDDA 추출
GenericName[mr]=सीडीडीए रिप
GenericName[nl]=CDDA-ripping
GenericName[pl]=Zgrywanie CDDA
GenericName[pt]=Extracção do CDDA
GenericName[pt_BR]=Extração de CDDA
GenericName[ro]=Extragere CDDA
GenericName[ru]=Копирование цифровых звуковых компакт-дисков
GenericName[sa]=सीडीडीए रिपिंग
GenericName[sk]=Ripovanie CDDA
GenericName[sl]=CDDA Ripping
GenericName[sv]=Lagring av CDDA
GenericName[tr]=CDDA Aktarıcısı
GenericName[uk]=Видобування CDDA
GenericName[zh_CN]=CDDA 翻录
GenericName[zh_TW]=CDDA 翻錄
Exec=audex
StartupWMClass=audex
Icon=org.kde.audex
Type=Application
MimeType=application/x-audex;
Categories=Qt;KDE;AudioVideo;
Terminal=false
X-DocPath=https://userbase.kde.org/Audex
Comment=Rip audio tracks from your audio CDs
Comment[ar]=استخراج المسارات الصوتية من أقراص الصوت المضغوطة الخاصة بك
Comment[bs]=Vađenje audio numera s audio CDa
Comment[ca]=Extreu les pistes d'àudio des dels CD d'àudio
Comment[ca@valencia]=Extrau les pistes d'àudio des dels CD d'àudio
Comment[cs]=Ripujte zvukové stopy ze svých CD
Comment[da]=Rip lydspor fra dine lyd-cd'er
Comment[de]=Liest Musiktitel von Ihren Audio-CDs aus
Comment[en_GB]=Rip audio tracks from your audio CDs
Comment[eo]=Kopii aŭdiotrakojn de via aŭd-KD-oj
Comment[es]=Extraer pistas de audio de CD de audio
Comment[et]=Heliradade rippimine heli-CD pealt
Comment[eu]=Erauzi audio-pistak zure audio CDetatik
Comment[fi]=Pura ääniraitoja ääni-CD:iltäsi
Comment[fr]=Extrait des pistes audio à partir de vos CD audio
Comment[gl]=Extraia pistas de son de CD.
Comment[hi]=अपनी ऑडियो सीडी से ऑडियो ट्रैक रिप करें
Comment[hu]=Hangsávok beolvasása a hang CD-kről
Comment[ia]=Rippa tracias audio ex tu CDs Audio
Comment[it]=Estrai le tracce audio dai tuoi CD
Comment[ka]=დარიპეთ აუდიობილიკები თქვენი AudioCD-ებიდან
Comment[ko]=오디오 CD에서 오디오 트랙 추출
Comment[mr]=तुमच्या ऑडिओ सीडीवरील ऑडिओ ट्रॅक्स रिप करा
Comment[nl]=Rip audiotracks van uw audio-cd's
Comment[pl]=Zgraj ścieżki dźwiękowe z Twoich płyt audio CD
Comment[pt]=Extrair as faixas de áudio dos seus CD's
Comment[pt_BR]=Extrai faixas de áudio dos seus CDs de áudio
Comment[ro]=Extrage piste sonore de pe CD-uri audio
Comment[ru]=Копирование аудиодорожек звуковых компакт-дисков
Comment[sa]=स्वस्य श्रव्य-सीडीभ्यः श्रव्य-पट्टिकाः रिप् कुर्वन्तु
Comment[sk]=Ripovanie audio stôp z vašich audio CD
Comment[sl]=Pretvorite posnetke z zvočnih CD-jev
Comment[sv]=Lagra ljudspår från ljud-cd
Comment[tr]=Ses CD’lerinizdeki parçaları dönüştürün
Comment[ug]=ئۈنلەرنى ئوپتىك دىسكىدىن سويۇپ ئېلىش پروگراممىسى
Comment[uk]=Видобування звукових даних з ваших звукових компакт-дисків
Comment[zh_CN]=从您的音乐 CD 中翻录音轨
Comment[zh_TW]=自您的音樂 CD 翻錄音訊音軌
